* {
    margin: 0;
    padding: 0;
    outline: none;
  }

  .header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

@media (max-width: 640px) {
    .block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.header i {
    color: #e8e8e8;
}

.userIcon,
.cartIcon {
    display: none;
}

@media (min-width: 640px) {
    .userIcon,
    .cartIcon {
        display: inline;
    }
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -9px;
    font-size: 12px;
    line-height: 19px;
}

@media (max-width: 640px) {
    .cartIconWrap span {
        top: -30px;
    }
}

.rightHeader {
    display: flex;
    position: relative;
    align-items: center;
}

  .dropdown-button img {
    background-color: #222222;
    padding: 5px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0%;
    display: none;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-menu a:hover {
    background-color: gray;
  }

  @media (min-width: 640px) {
    .dropdown-menu {
        left: 0%;
    }
}

   @media (max-width: 425px) {
    .dropdown-menu {
        min-width: 80px;
    }
}

.basket {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 37px;
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
}

@media (min-width: 340px) {
    .basket {
        font-size: 16px;
    }
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}

  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }

.block {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f1e4e6;
  }

  .block h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #f16d7f;
}

  .man-img {
    display: flex;
    max-width: 50%;
  }

  .leftman_img {
    width: 100%;
  }

  .right-txt {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .head-txt {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
  }

  .big-txt {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }

  .pink {
    color: #f16d7f;
  }

  .line {
    width: 12px;
    height: 92px;
    background: #f16d7f;
    margin-right: 16px;
  }

.main-nav {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 65px;
    gap: 20px;
  }

  @media (max-width: 640px) {
    .main-nav {
        display: block;
        grid-template-rows: none;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .main-nav {
        display: none;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 20px;
    }
}

  .url-nav {
    text-decoration: none;
  }
  .url-nav__big-column {
    grid-column: 1/4;
  }

  .nav-group {
    height: 260px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: grid;
    align-content: center;
  }

  .nav-group:hover {
    box-shadow: 0 0 10px 5px rgb(185, 63, 63);
  }

  .first-img {
    background-image: url(../images/36.jpg);
  }

  .second-img {
    background-image: url(../images/37.jpg);
  }

  .third-img {
    background-image: url(../images/38.jpg);
  }

  .big-img {
    background-image: url(../images/39.jpg);
    height: 180px;
  }

  .nav-group-big:hover {
    box-shadow: 0 0 10px 5px #ccc;
  }

  .nav-group-txt-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #ffffff;
  }

  .nav-group-txt-2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #f16d7f;
  }

.filters {
    margin-top: 24px;
    margin-bottom: 32px;
}

@media (min-width: 1600px) {
    .filters {
        margin-top: 51px;
        margin-bottom: 64px;
    }
}

.filters .container {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 640px) {
    .filters .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .filters .container {
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-start;
    }
}

.filtersRight {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #6f6e6e;
}

@media (min-width: 1600px) {
    .filtersRight {
        font-size: 14px;
        line-height: 17px;
        margin-left: 320px;
    }
}

.filtersRight img {
    position: relative;
    bottom: 1px;
    margin-left: 9px;
}

.filtersRight > div:not(:last-child) {
    margin-right: 15px;
}

@media (min-width: 375px) {
    .filtersRight > div:not(:last-child) {
        margin-right: 24px;
    }
}

.filtersLeft .filterLabel {
    display: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.filterLabelPink {
    color: #ef5b70 !important;
    left: 16px;
    top: 13px;
}

.filterIconPink {
    left: 16px;
    top: 13px;
}

@media (min-width: 768px) {
    .filtersLeft .filterLabel {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.filtersLeft .filterIcon {
    width: 37px;
    height: 25px;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .filtersLeft .filterIcon {
        width: 15px;
        height: 10px;
        margin-left: 11px;
    }
}

.filtersLeft {
    position: relative;
}

.hidden {
    display: none;
}

.filterPopup {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 46px 16px 16px 16px;
    z-index: 1;
    overflow-y: auto;
}

.filterCategoryHeader {
    font-size: 14px;
    line-height: 37px;
    color: #ef5b70;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.filterCategoryHeader:before {
    content: "";
    width: 5px;
    min-height: inherit;
    background: #ef5b70;
    position: absolute;
    left: 0;
    top: 1px;
}

.filterCategory:not(:last-child) {
    margin-bottom: 24px;
}

.filterCategory a {
    display: block;
    text-decoration: none;
    padding-left: 34px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}

.filterCategory a:not(:last-child) {
    margin-bottom: 11px;
}

.filterSizeWrap {
    cursor: pointer;
}

.filterSize {
    position: relative;
}

.filterSizes {
    position: absolute;
    left: 0;
    top: 25px;
    width: 79px;
    height: 103px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6f6e6e;
}

.filterSizes > div:not(:last-child) {
    margin-bottom: 4px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .main-head {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }

  .main-head-txt {
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
}

.filterLabel:hover {
    color: #fff;
    background-color: #f26376;
  }

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 640px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .featuredItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featuredItem {
    background: #f8f8f8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImgWrap {
    position: relative;
}

.featuredItem:hover .featuredImgDark {
    display: flex;
}

.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredImgDark button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.featuredImgDark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-family: "Lato";
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featuredText {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.featuredPrice {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    margin-top: 48px;
    padding: 13px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.pagination a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color:#796969;
}

.pagination a:hover {
    color: #ef5b70;
}

.down {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    width: 211px;
    height: 47px;
    border: 1px solid #cf5050;
  }

  .button-url {
    text-decoration: none;
    margin-bottom: 95px;
  }

  .button:hover {
    color: #fff;
    background-color: #f26376;
  }

.footer {
    background: #222224;
    padding:25px 20px 10px;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 32px;
    }
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footerLeft {
    color: white;
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}

.footerRight {
    display: flex;
}

.footer a {
    color: black;
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:hover {
    background: #f16d7f;
    color: white;
}

.footer a:not(:last-child) {
    margin-right: 7px;
}

@media (max-width: 767px) {
    .footerRight {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
